{% extends "layout.html" %}
{% block content %}
<div class="home">
    <h1>Run Chan makes your nights better</h1>
   </div>
<div id="video_container">
<video id="video_player" class="video-js vjs-big-play-centered vjs-16-9 vjs-skin-twitchy" poster="//cdnthumb1.spankbang.com/0/3/6/3680555-t6.jpg">
<source src="https://vcdn156.spankbang.com/3/6/3680555-480p.mp4?st=_ED-jsfke1IXs7ZWRAymow&amp;e=1534008836" type="video/mp4">
</video>
</div>
<div class="toolbar">
<ul class="left_set">
<li class="hot"><i class="fa fa-thumbs-up"></i></li>
<li class="rate">
<span style="width: 98%"></span>
<strong>98%</strong>
 </li>
<li class="not"><i class="fa fa-thumbs-o-down"></i></li>
<li class="pl"><i class="fa fa-plus-square"></i> Playlist</li>
<li class="gr" style="display:none"><i class="fa fa-th-large"></i> Grid</li>
<li class="cm"><i class="fa fa-commenting"></i> Comments (3)</li>
<li class="fl"><i class="fa fa-flag"></i> Report</li>
<li class="dl"><i class="fa fa-cloud-download"></i> Download</li>
</ul>
<ul class="right_set">
<li class="title">Quality:</li>
<li class="q_720p">720p</li>
<li class="q_480p">480p</li>
<li class="q_240p">240p</li>
</ul>
</div>
<section class="timeline">
<figure class="thumbnails">
<div onclick="seek_player('654'); ga('send', 'event', 'timeline', '654', 3680555,  {'nonInteraction': 1});">
<img src="//cdnthumb1.spankbang.com/200/3/6/3680555-t1.jpg" title="Watch from 0:10:54" />
<span>10:54</span>
</div>
<div onclick="seek_player('1309'); ga('send', 'event', 'timeline', '1309', 3680555,  {'nonInteraction': 1});">
<img src="//cdnthumb1.spankbang.com/200/3/6/3680555-t2.jpg" title="Watch from 0:21:49" />
<span>21:49</span>
</div>
<div onclick="seek_player('1964'); ga('send', 'event', 'timeline', '1964', 3680555,  {'nonInteraction': 1});">
<img src="//cdnthumb1.spankbang.com/200/3/6/3680555-t3.jpg" title="Watch from 0:32:44" />
<span>32:44</span>
</div>
<div onclick="seek_player('2619'); ga('send', 'event', 'timeline', '2619', 3680555,  {'nonInteraction': 1});">
<img src="//cdnthumb1.spankbang.com/200/3/6/3680555-t4.jpg" title="Watch from 0:43:39" />
<span>43:39</span>
</div>
<div onclick="seek_player('3274'); ga('send', 'event', 'timeline', '3274', 3680555,  {'nonInteraction': 1});">
<img src="//cdnthumb1.spankbang.com/200/3/6/3680555-t5.jpg" title="Watch from 0:54:34" />
<span>54:34</span>
</div>
<div onclick="seek_player('3929'); ga('send', 'event', 'timeline', '3929', 3680555,  {'nonInteraction': 1});">
<img src="//cdnthumb1.spankbang.com/200/3/6/3680555-t6.jpg" title="Watch from 1:05:29" />
<span>65:29</span>
</div>
<div onclick="seek_player('4584'); ga('send', 'event', 'timeline', '4584', 3680555,  {'nonInteraction': 1});">
<img src="//cdnthumb1.spankbang.com/200/3/6/3680555-t7.jpg" title="Watch from 1:16:24" />
<span>76:24</span>
</div>
<div onclick="seek_player('5239'); ga('send', 'event', 'timeline', '5239', 3680555,  {'nonInteraction': 1});">
<img src="//cdnthumb1.spankbang.com/200/3/6/3680555-t8.jpg" title="Watch from 1:27:19" />
<span>87:19</span>
</div>
<div onclick="seek_player('5894'); ga('send', 'event', 'timeline', '5894', 3680555,  {'nonInteraction': 1});">
<img src="//cdnthumb1.spankbang.com/200/3/6/3680555-t9.jpg" title="Watch from 1:38:14" />
<span>98:14</span>
</div>
<div onclick="seek_player('6549'); ga('send', 'event', 'timeline', '6549', 3680555,  {'nonInteraction': 1});">
<img src="//cdnthumb1.spankbang.com/200/3/6/3680555-t10.jpg" title="Watch from 1:49:09" />
<span>109:09</span>
</div>
</figure>
</section>
{% endblock %}
