{% extends "layout.html" %}
{% block content %}
<div class="home">
    <h1>Run Chan makes your nights better</h1>
    <embed src="https://vcdn156.spankbang.com/3/6/3680555-480p.mp4?st=fZlSEOyaiwIl3IqheLKobw&e=1534008601" allowfullscreen="true" width="425" height="344">
</div>
<div id="video_container">
<video id="video_player" class="video-js vjs-big-play-centered vjs-16-9 vjs-skin-twitchy" poster="//cdnthumb1.spankbang.com/0/3/6/3680555-t6.jpg">
<source src="https://vcdn156.spankbang.com/3/6/3680555-480p.mp4?st=fZlSEOyaiwIl3IqheLKobw&amp;e=1534008601" type="video/mp4">
</video>
</div>
{% endblock %}
